@import "src/css/colors";

//page wrapper
.wrapper {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.hey-turkey-bird {
  background: #fff;
}

//wraps turkey and buttons
.hey-turkey {
  background: $white;
  display: block;
  &-bird {
    display: inline-block;
    color: #fff;
  }
  &-speech {
    display: inline-block;
  }
  &-teams {
    display: block;
  }
  //wraps buttons
  &-choose {
    display: block;
    &-red {
      background: $t-red;
    }
    &-blue {
      background: $t-blue;
    }
  }
}

.btn {
  padding: 3px 5px;
  border-radius: 3px;
  color: #fff;
}
